pre.elmsh {
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0;
    text-align: left;
    overflow: auto;
}

code.elmsh {
    padding: 0;
}

.elmsh-line:before {
    content: attr(data-elmsh-lc);
    display: inline-block;
    text-align: right;
    width: 40px;
    padding: 0 20px 0 0;
    opacity: 0.3;
}

.elmsh {color: #F0EAC2; background: #312E38;}
.elmsh-hl {background: #343434;}
.elmsh-add {background: #003800;}
.elmsh-del {background: #380000;}
.elmsh-comm {color: #75715e;}
.elmsh1 {color: #FFBE66;}
.elmsh2 {color: #FFF566;}
.elmsh3 {color: #66FF6A;}
.elmsh4 {color: #F0EAC2;}
.elmsh5 {color: #a6e22e;}
.elmsh6 {color: #FFBE66;}
.elmsh7 {color: #fd971f;}
.elmsh-elm-gs {color: #66FF6A!important;}
.elmsh-elm-ts, .elmsh-js-dk, .elmsh-css-p {font-style: italic;color: #66d9ef;}
.elmsh-js-ce {font-style: italic;color: #a6e22e;}
.elmsh-css-ar-i {font-weight: bold;color: #f92672;}
